//@import '../../node_modules/normalize.css/normalize.css';
//
//@import '../common/style/theme';
//@import url(https://fonts.googleapis.com/css?family=Heebo:100,400,500);
body,
html {
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    direction: rtl;
}
* {
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}
