//@import '~common/style/_theme.scss';
.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    /*background-color: #eee;
    background-color: rgba(86,61,124,.15);*/
    min-height: 62px;
    border: 1px solid #ddd;
    border: 1px solid rgba(182, 159, 216, 0.2); /*rgba(86,61,124,.2);*/
}

.head-row {
  background-color: #fff0f0;
}

.head-col {
  cursor: pointer;
}

.row {
  /*background-color: #eee;*/
  background-color: rgba(201, 190, 218, 0.15);
  /*cursor: pointer;*/
}

.alt-row {
  /*background-color: #eee;*/
  background-color: rgba(161, 135, 226, 0.13);
  /*cursor: pointer;*/
}

.open-big {
  padding-top: 11px;
  padding-right: 17px;
  cursor: pointer;
}

.details {
  line-height: 2;
  min-height: 198px;
}

.filter-input {
  width: 61px;
  background-color: #f7f5f9;
  border: #f7f5f9 solid 1px;
}

.clearfix {
  overflow: auto;
  zoom: 0;
}

.combo-container {
  /*overflow: auto;*/
  zoom: 0;
}

.combo-l {
  float: left;
  width: 70%;
  padding-left: 200px;
}

.combo-r {
  float: right;
  width: 30%;
  margin-bottom: 7px;
}

.date-div {
  float: left;
  direction: ltr;
  width: 85%;
  text-align: right;
}

.date-div-label {
  float: right;
  width: 15%;
}

/*
.filter-div {
  width: 190px;
  padding: 10px;
  border: silver solid 1px;
  margin-bottom: 10px;
}

.filter-close {
  cursor: pointer;
  float: right;
  padding-left: 13px;
}
*/
